*{
    margin: 0
}

#ship_div{
    position: absolute;
}

#bomb_div2{
    position: absolute;
    transform: translate(-5px, -5px);
    top: 100px;
    left: 100px;
}

.hidden-bomb {
    visibility: hidden;  
    /*test*/
}

.animate-bomb {
    visibility: visible;
    animation-duration: 1s;
    animation-name: slidein;
}

#box_div{
    position: absolute;;
    top: 275px;
    width: 200px;
    height: 200px;
    border: 2px;
    border-color: white;
}

@keyframes slidein {
    from {
        top: 50%;
    }
    to {
        top: 400px;
    }
  }
  
  
  